# **Name: Shantanu Bhute**
# **Student ID: 24201796**

# Property Sales Data Collection

## Objective
This notebook scrapes property sales data from the UCD teaching website for the years 2021 to 2024.
It collects details such as sale price, location, year built, and property description.

## Data Source
The dataset is retrieved from multiple pages, with each year having multiple paginated pages.

Example URL:  
[http://mlg.ucd.ie/modules/python/assignment1/property/2023-page01.html](http://mlg.ucd.ie/modules/python/assignment1/property/2023-page01.html)

In [1]:
# Install necessary libraries (if not already installed)
!pip install requests beautifulsoup4 pandas

# Import required libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time

Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (4.13.3)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests) (2025.1.31)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (2.6)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (4.12.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:

BASE_URL = "http://mlg.ucd.ie/modules/python/assignment1/property/{year}-page{page}.html"
YEARS = ["2021", "2022", "2023", "2024"]  # Years we need to scrape

# Initialize an empty set to track unique records (to prevent duplicates)
unique_records = set()
property_data = []

In [3]:

def get_total_pages(year):
    """Finds the last page number for a given year dynamically."""
    first_page_url = BASE_URL.format(year=year, page="01")  # Start with page 1
    response = requests.get(first_page_url)

    if response.status_code != 200:
        print(f" Failed to fetch first page for {year}")
        return None  # If the first page request fails, skip this year

    soup = BeautifulSoup(response.text, "html.parser")

    # Find the pagination section and extract last page number
    pagination_links = soup.find_all("a", href=True)
    last_page = 1  # Default to 1 in case there's no pagination

    for link in pagination_links:
        if "-page" in link["href"]:  # Look for page numbers in the href
            try:
                page_number = int(link["href"].split("-page")[-1].split(".")[0])
                last_page = max(last_page, page_number)  # Track the highest page number
            except ValueError:
                continue

    print(f" Found {last_page} pages for {year}")
    return last_page

In [4]:
import re  # Import regex for text cleaning

def extract_year(text):
    """Extracts numeric year from a string, removes non-numeric characters."""
    year_digits = re.findall(r"\d{4}", text)  # Find 4-digit numbers
    return int(year_digits[0]) if year_digits else None  # Return first match if found, else None

In [5]:
# Loop through each year
for year in YEARS:
    total_pages = get_total_pages(year)
    if not total_pages:
        continue  # Skip this year if no valid pages found

    for page in range(1, total_pages + 1):
        page_number = f"{page:02d}"  # Formatting page number (01, 02, etc.)
        url = BASE_URL.format(year=year, page=page_number)

        print(f" Scraping: {url}")

        # Fetch page content
        response = requests.get(url)
        if response.status_code != 200:
            print(f" Failed to fetch data from {url}")
            continue  # Skip to the next page if request fails

        # Parse page content
        soup = BeautifulSoup(response.text, "html.parser")
        content_div = soup.find("div", id="content")
        if not content_div:
            print(f" No content found on page: {url}")
            continue

        # Extract all sale entries
        sales = content_div.find("ol").find_all("li")
        print(f" Entries found on the page: {len(sales)}")

        # Extract data for each sale
        for sale in sales:
            try:
                # Extract Date Sold
                date_sold = sale.find("span", class_="sold").text.strip()

                # Extract all table rows inside the sale table
                table_rows = sale.find("table", class_="sale").find_all("tr")

                # Initialize storage variables
                sale_price, location, year_built, garden, garage, description, first_time_buyer = [None] * 7

                # Loop through each row to extract data
                for row in table_rows:
                    label = row.find("td", class_="info").text.strip()
                    value = row.find("td").find_next("td").text.strip()

                    if "Sale Price" in label:
                        sale_price = value.replace("€", "").replace(",", "").strip()
                    elif "Property Location" in label:
                        location = value
                    elif "Year Built" in label:
                        year_built = value
                    elif "Garden" in label:
                        garden = value
                    elif "Garage" in label:
                        garage = value
                    elif "Description" in label:
                        description = value
                    elif "First Time Buyer" in label:
                        first_time_buyer = value

                # Create a unique key to prevent duplicates
                unique_key = (date_sold, sale_price, location, year_built, description)

                # Append only if this record is unique
                if unique_key not in unique_records:
                    unique_records.add(unique_key)  # Track record
                    property_data.append({
                        "Date Sold": date_sold,
                        "Sale Price (€)": float(sale_price) if sale_price else None,
                        "Location": location,
                        "Year Built": extract_year(year_built),
                        "Garden": garden,
                        "Garage": garage,
                        "Description": description,
                        "First Time Buyer": first_time_buyer
                    })

            except AttributeError:
                continue  # Skip if any field is missing

        print(f" Page {page} of {year} added. Total unique records so far: {len(property_data)}")

        # Pause for 1 second to avoid overloading the server (polite scraping)
        time.sleep(1)

print(f" Data extraction complete! Total unique records extracted: {len(property_data)}")

✅ Found 15 pages for 2021
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page01.html
 Entries found on the page: 20
 Page 1 of 2021 added. Total unique records so far: 20
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page02.html
 Entries found on the page: 20
 Page 2 of 2021 added. Total unique records so far: 40
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page03.html
 Entries found on the page: 20
 Page 3 of 2021 added. Total unique records so far: 60
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page04.html
 Entries found on the page: 20
 Page 4 of 2021 added. Total unique records so far: 80
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page05.html
 Entries found on the page: 20
 Page 5 of 2021 added. Total unique records so far: 100
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page06.html
 Entries found on the page: 20
 Page 6 of 2021 added. Total unique records so far: 120
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page07.html
 Entries found on the page: 20
 Page 7 of 2021 added. Total unique records so far: 140
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page08.html
 Entries found on the page: 20
 Page 8 of 2021 added. Total unique records so far: 160
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page09.html
 Entries found on the page: 20
 Page 9 of 2021 added. Total unique records so far: 180
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page10.html
 Entries found on the page: 20
 Page 10 of 2021 added. Total unique records so far: 200
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page11.html
 Entries found on the page: 20
 Page 11 of 2021 added. Total unique records so far: 220
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page12.html
 Entries found on the page: 20
 Page 12 of 2021 added. Total unique records so far: 240
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page13.html
 Entries found on the page: 20
 Page 13 of 2021 added. Total unique records so far: 260
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page14.html
 Entries found on the page: 20
 Page 14 of 2021 added. Total unique records so far: 280
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2021-page15.html
 Entries found on the page: 7
 Page 15 of 2021 added. Total unique records so far: 287
✅ Found 17 pages for 2022
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page01.html
 Entries found on the page: 20
 Page 1 of 2022 added. Total unique records so far: 307
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page02.html
 Entries found on the page: 20
 Page 2 of 2022 added. Total unique records so far: 327
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page03.html
 Entries found on the page: 20
 Page 3 of 2022 added. Total unique records so far: 347
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page04.html
 Entries found on the page: 20
 Page 4 of 2022 added. Total unique records so far: 367
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page05.html
 Entries found on the page: 20
 Page 5 of 2022 added. Total unique records so far: 387
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page06.html
 Entries found on the page: 20
 Page 6 of 2022 added. Total unique records so far: 407
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page07.html
 Entries found on the page: 20
 Page 7 of 2022 added. Total unique records so far: 427
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page08.html
 Entries found on the page: 20
 Page 8 of 2022 added. Total unique records so far: 447
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page09.html
 Entries found on the page: 20
 Page 9 of 2022 added. Total unique records so far: 467
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page10.html
 Entries found on the page: 20
 Page 10 of 2022 added. Total unique records so far: 487
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page11.html
 Entries found on the page: 20
 Page 11 of 2022 added. Total unique records so far: 507
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page12.html
 Entries found on the page: 20
 Page 12 of 2022 added. Total unique records so far: 527
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page13.html
 Entries found on the page: 20
 Page 13 of 2022 added. Total unique records so far: 547
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page14.html
 Entries found on the page: 20
 Page 14 of 2022 added. Total unique records so far: 567
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page15.html
 Entries found on the page: 20
 Page 15 of 2022 added. Total unique records so far: 587
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page16.html
 Entries found on the page: 20
 Page 16 of 2022 added. Total unique records so far: 607
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2022-page17.html
 Entries found on the page: 14
 Page 17 of 2022 added. Total unique records so far: 621
✅ Found 17 pages for 2023
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page01.html
 Entries found on the page: 20
 Page 1 of 2023 added. Total unique records so far: 641
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page02.html
 Entries found on the page: 20
 Page 2 of 2023 added. Total unique records so far: 661
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page03.html
 Entries found on the page: 20
 Page 3 of 2023 added. Total unique records so far: 681
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page04.html
 Entries found on the page: 20
 Page 4 of 2023 added. Total unique records so far: 701
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page05.html
 Entries found on the page: 20
 Page 5 of 2023 added. Total unique records so far: 721
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page06.html
 Entries found on the page: 20
 Page 6 of 2023 added. Total unique records so far: 741
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page07.html
 Entries found on the page: 20
 Page 7 of 2023 added. Total unique records so far: 761
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page08.html
 Entries found on the page: 20
 Page 8 of 2023 added. Total unique records so far: 781
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page09.html
 Entries found on the page: 20
 Page 9 of 2023 added. Total unique records so far: 801
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page10.html
 Entries found on the page: 20
 Page 10 of 2023 added. Total unique records so far: 821
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page11.html
 Entries found on the page: 20
 Page 11 of 2023 added. Total unique records so far: 841
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page12.html
 Entries found on the page: 20
 Page 12 of 2023 added. Total unique records so far: 861
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page13.html
 Entries found on the page: 20
 Page 13 of 2023 added. Total unique records so far: 881
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page14.html
 Entries found on the page: 20
 Page 14 of 2023 added. Total unique records so far: 901
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page15.html
 Entries found on the page: 20
 Page 15 of 2023 added. Total unique records so far: 921
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page16.html
 Entries found on the page: 20
 Page 16 of 2023 added. Total unique records so far: 941
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2023-page17.html
 Entries found on the page: 12
 Page 17 of 2023 added. Total unique records so far: 953
✅ Found 23 pages for 2024
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page01.html
 Entries found on the page: 20
 Page 1 of 2024 added. Total unique records so far: 973
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page02.html
 Entries found on the page: 20
 Page 2 of 2024 added. Total unique records so far: 993
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page03.html
 Entries found on the page: 20
 Page 3 of 2024 added. Total unique records so far: 1013
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page04.html
 Entries found on the page: 20
 Page 4 of 2024 added. Total unique records so far: 1033
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page05.html
 Entries found on the page: 20
 Page 5 of 2024 added. Total unique records so far: 1053
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page06.html
 Entries found on the page: 20
 Page 6 of 2024 added. Total unique records so far: 1073
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page07.html
 Entries found on the page: 20
 Page 7 of 2024 added. Total unique records so far: 1093
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page08.html
 Entries found on the page: 20
 Page 8 of 2024 added. Total unique records so far: 1113
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page09.html
 Entries found on the page: 20
 Page 9 of 2024 added. Total unique records so far: 1133
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page10.html
 Entries found on the page: 20
 Page 10 of 2024 added. Total unique records so far: 1153
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page11.html
 Entries found on the page: 20
 Page 11 of 2024 added. Total unique records so far: 1173
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page12.html
 Entries found on the page: 20
 Page 12 of 2024 added. Total unique records so far: 1193
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page13.html
 Entries found on the page: 20
 Page 13 of 2024 added. Total unique records so far: 1213
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page14.html
 Entries found on the page: 20
 Page 14 of 2024 added. Total unique records so far: 1233
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page15.html
 Entries found on the page: 20
 Page 15 of 2024 added. Total unique records so far: 1253
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page16.html
 Entries found on the page: 20
 Page 16 of 2024 added. Total unique records so far: 1273
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page17.html
 Entries found on the page: 20
 Page 17 of 2024 added. Total unique records so far: 1293
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page18.html
 Entries found on the page: 20
 Page 18 of 2024 added. Total unique records so far: 1313
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page19.html
 Entries found on the page: 20
 Page 19 of 2024 added. Total unique records so far: 1333
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page20.html
 Entries found on the page: 20
 Page 20 of 2024 added. Total unique records so far: 1353
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page21.html
 Entries found on the page: 20
 Page 21 of 2024 added. Total unique records so far: 1373
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page22.html
 Entries found on the page: 20
 Page 22 of 2024 added. Total unique records so far: 1393
 Scraping: http://mlg.ucd.ie/modules/python/assignment1/property/2024-page23.html
 Entries found on the page: 7
 Page 23 of 2024 added. Total unique records so far: 1400
 Data extraction complete! Total unique records extracted: 1400

In [6]:

# Convert to DataFrame
df = pd.DataFrame(property_data)

# Remove any additional duplicates just in case
df.drop_duplicates(inplace=True)

# Check DataFrame before saving
print(" DataFrame Shape (after removing duplicates):", df.shape)
print(df.head())

# Save to CSV
df.to_csv("property_sales.csv", index=False)

print(" Data saved successfully to property_sales.csv")

 DataFrame Shape (after removing duplicates): (1400, 8)
              Date Sold  Sale Price (€)     Location  Year Built Garden  \
0       Sold 2021-01-10        381302.0   Broomhouse      1967.0    Yes
1       Sold 2021-01-10        325898.0   Broomhouse      1978.0    Yes
2  Sold 18 January 2021        370354.0     Oak Park      1961.0    Yes
3       Sold 2021-01-23         92480.0  Beacon Hill      1958.0    Yes
4       Sold 2021-01-25        312030.0   Brookville      1987.0    Yes

  Garage                                        Description First Time Buyer
0    Yes  Type: Detached; Style: 1.5-Storey; 3 Bedrooms;...               No
1    ???  Type: Detached; Style: 1-Storey; 3 Bedrooms; 1...              Yes
2     No  Type: Detached; Style: 1-Storey; 3 Bedrooms; 2...               No
3     No  Type: Bungalow; 1 Bathroom; Style: 1-Storey; 1...              Yes
4    Yes  Type: Detached; Style: 1-Storey; 3 Bedrooms; 1...               No
 Data saved successfully to property_sales.csv

In [7]:
print(f"Total records extracted: {len(property_data)}")  # Should be ~1400+

Total records extracted: 1400

In [8]:
print(f"Total records extracted: {len(property_data)}")
print(property_data[:5])  # Print first 5 records

Total records extracted: 1400
[{'Date Sold': 'Sold 2021-01-10', 'Sale Price (€)': 381302.0, 'Location': 'Broomhouse', 'Year Built': 1967, 'Garden': 'Yes', 'Garage': 'Yes', 'Description': 'Type: Detached; Style: 1.5-Storey; 3 Bedrooms; 1 Bathroom', 'First Time Buyer': 'No'}, {'Date Sold': 'Sold 2021-01-10', 'Sale Price (€)': 325898.0, 'Location': 'Broomhouse', 'Year Built': 1978, 'Garden': 'Yes', 'Garage': '???', 'Description': 'Type: Detached; Style: 1-Storey; 3 Bedrooms; 1 Bathroom', 'First Time Buyer': 'Yes'}, {'Date Sold': 'Sold 18 January 2021', 'Sale Price (€)': 370354.0, 'Location': 'Oak Park', 'Year Built': 1961, 'Garden': 'Yes', 'Garage': 'No', 'Description': 'Type: Detached; Style: 1-Storey; 3 Bedrooms; 2 Bathrooms', 'First Time Buyer': 'No'}, {'Date Sold': 'Sold 2021-01-23', 'Sale Price (€)': 92480.0, 'Location': 'Beacon Hill', 'Year Built': 1958, 'Garden': 'Yes', 'Garage': 'No', 'Description': 'Type: Bungalow; 1 Bathroom; Style: 1-Storey; 1 Bedroom', 'First Time Buyer': 'Yes'}, {'Date Sold': 'Sold 2021-01-25', 'Sale Price (€)': 312030.0, 'Location': 'Brookville', 'Year Built': 1987, 'Garden': 'Yes', 'Garage': 'Yes', 'Description': 'Type: Detached; Style: 1-Storey; 3 Bedrooms; 1 Bathroom', 'First Time Buyer': 'No'}]

In [9]:
import os

file_path = "property_sales.csv"

if os.path.exists(file_path):
    print(" File exists:", file_path)
    print(" File size:", os.path.getsize(file_path), "bytes")
else:
    print(" CSV file does not exist.")

 File exists: property_sales.csv
 File size: 153940 bytes

In [12]:
print(soup.prettify()[:])  # Print the first 1000 characters of the page

<!DOCTYPE html>
<html lang="en">
 <head>
  <meta content="noindex" name="robots"/>
  <meta content="Content on this site is posted for teaching purposes only. Original data is from theguardian.com" name="description"/>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   Property Sale Register - Sales 2024
  </title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" target="_blank"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  </script>
  <link href="style.css" rel="stylesheet" type="text/css"/>
  <style>
   li
    {
      padding-bottom: 0.8em;
    }
    table.sale
    {
      margin-left: 1em;
    }
    span.sold
    {
      font-weight: bold;
    }
  </style>
 </head>
 <body>
  <div class="container mtb">
   <div class="logo">
    <a href="index.html">
     <img alt="Property Price Register" class="logo" src="logo.png"/>
    </a>
   </div>
   <div class="row">
    <div class="col-md-12">
     <h2>
      Property Sales: 2024 — Page 23 of 23
     </h2>
    </div>
    <div class="col-md-12 total">
     Showing results 441 to 447 from total of 447 sale records for this year
    </div>
    <div class="col-md-12" id="content">
     <ol start="441">
      <li>
       <span class="sold">
        Sold 2024-11-22
       </span>
       <table class="sale" width="70%">
        <tr>
         <td class="info" width="22%">
          Sale Price:
         </td>
         <td>
          <span class="price">
           €440,552.00
          </span>
         </td>
        </tr>
        <tr>
         <td class="info">
          Property Location:
         </td>
         <td>
          Broomhouse
         </td>
        </tr>
        <tr>
         <td class="info">
          Year Built:
         </td>
         <td>
          1968
         </td>
        </tr>
        <tr>
         <td class="info">
          Garden:
         </td>
         <td>
          Yes
         </td>
        </tr>
        <tr>
         <td class="info">
          Garage:
         </td>
         <td>
          Yes
         </td>
        </tr>
        <tr>
         <td class="info">
          Description:
         </td>
         <td>
          Type: Detached; Style: 1-Storey; 3 Bedrooms; 1 Bathroom
         </td>
        </tr>
        <tr>
         <td class="info">
          First Time Buyer:
         </td>
         <td>
          Yes
         </td>
        </tr>
       </table>
      </li>
      <li>
       <span class="sold">
        Sold 2024-12-04
       </span>
       <table class="sale" width="70%">
        <tr>
         <td class="info" width="22%">
          Sale Price:
         </td>
         <td>
          <span class="price">
           €664,365.00
          </span>
         </td>
        </tr>
        <tr>
         <td class="info">
          Property Location:
         </td>
         <td>
          Oak Park
         </td>
        </tr>
        <tr>
         <td class="info">
          Year Built:
         </td>
         <td>
          1977
         </td>
        </tr>
        <tr>
         <td class="info">
          Garden:
         </td>
         <td>
          Yes
         </td>
        </tr>
        <tr>
         <td class="info">
          Garage:
         </td>
         <td>
          No
         </td>
        </tr>
        <tr>
         <td class="info">
          Description:
         </td>
         <td>
          Type: Detached; Style: 1-Storey; 4 Bedrooms; 2 Bathrooms
         </td>
        </tr>
        <tr>
         <td class="info">
          First Time Buyer:
         </td>
         <td>
          No
         </td>
        </tr>
       </table>
      </li>
      <li>
       <span class="sold">
        Sold 2024-12-04
       </span>
       <table class="sale" width="70%">
        <tr>
         <td class="info" width="22%">
          Sale Price:
         </td>
         <td>
          <span class="price">
           €482,103.00
          </span>
         </td>
        </tr>
        <tr>
         <td class="info">
          Property Location:
         </td>
         <td>
          Oak Park
         </td>
        </tr>
        <tr>
         <td class="info">
          Year Built:
         </td>
         <td>
          1970
         </td>
        </tr>
        <tr>
         <td class="info">
          Garden:
         </td>
         <td>
          Yes
         </td>
        </tr>
        <tr>
         <td class="info">
          Garage:
         </td>
         <td>
          No
         </td>
        </tr>
        <tr>
         <td class="info">
          Description:
         </td>
         <td>
          Type: Detached; Style: 1-Storey; 4 Bedrooms; 3 Bathrooms
         </td>
        </tr>
        <tr>
         <td class="info">
          First Time Buyer:
         </td>
         <td>
          No
         </td>
        </tr>
       </table>
      </li>
      <li>
       <span class="sold">
        Sold 2024-12-04
       </span>
       <table class="sale" width="70%">
        <tr>
         <td class="info" width="22%">
          Sale Price:
         </td>
         <td>
          <span class="price">
           €552,897.00
          </span>
         </td>
        </tr>
        <tr>
         <td class="info">
          Property Location:
         </td>
         <td>
          Oak Park
         </td>
        </tr>
        <tr>
         <td class="info">
          Year Built:
         </td>
         <td>
          1969
         </td>
        </tr>
        <tr>
         <td class="info">
          Garden:
         </td>
         <td>
          Yes
         </td>
        </tr>
        <tr>
         <td class="info">
          Garage:
         </td>
         <td>
          No
         </td>
        </tr>
        <tr>
         <td class="info">
          Description:
         </td>
         <td>
          Type: Detached; Style: 1-Storey; 2 Bedrooms; 1 Bathroom
         </td>
        </tr>
        <tr>
         <td class="info">
          First Time Buyer:
         </td>
         <td>
          No
         </td>
        </tr>
       </table>
      </li>
      <li>
       <span class="sold">
        Sold 2024-12-04
       </span>
       <table class="sale" width="70%">
        <tr>
         <td class="info" width="22%">
          Sale Price:
         </td>
         <td>
          <span class="price">
           €451,070.00
          </span>
         </td>
        </tr>
        <tr>
         <td class="info">
          Property Location:
         </td>
         <td>
          Oak Park
         </td>
        </tr>
        <tr>
         <td class="info">
          Year Built:
         </td>
         <td>
          1971
         </td>
        </tr>
        <tr>
         <td class="info">
          Garden:
         </td>
         <td>
          Yes
         </td>
        </tr>
        <tr>
         <td class="info">
          Garage:
         </td>
         <td>
          Yes
         </td>
        </tr>
        <tr>
         <td class="info">
          Description:
         </td>
         <td>
          Type: Detached; Style: 1.5-Storey; 3 Bedrooms; 1 Bathroom
         </td>
        </tr>
        <tr>
         <td class="info">
          First Time Buyer:
         </td>
         <td>
          Yes
         </td>
        </tr>
       </table>
      </li>
      <li>
       <span class="sold">
        Sold 2024-12-13
       </span>
       <table class="sale" width="70%">
        <tr>
         <td class="info" width="22%">
          Sale Price:
         </td>
         <td>
          <span class="price">
           €314,752.00
          </span>
         </td>
        </tr>
        <tr>
         <td class="info">
          Property Location:
         </td>
         <td>
          Oak Park
         </td>
        </tr>
        <tr>
         <td class="info">
          Year Built:
         </td>
         <td>
          1979
         </td>
        </tr>
        <tr>
         <td class="info">
          Garden:
         </td>
         <td>
          Yes
         </td>
        </tr>
        <tr>
         <td class="info">
          Garage:
         </td>
         <td>
          Yes
         </td>
        </tr>
        <tr>
         <td class="info">
          Description:
         </td>
         <td>
          Type: Detached; Style: 1.5-Storey; 3 Bedrooms; 1 Bathroom
         </td>
        </tr>
        <tr>
         <td class="info">
          First Time Buyer:
         </td>
         <td>
          Yes
         </td>
        </tr>
       </table>
      </li>
      <li>
       <span class="sold">
        Sold 2024-12-24
       </span>
       <table class="sale" width="70%">
        <tr>
         <td class="info" width="22%">
          Sale Price:
         </td>
         <td>
          <span class="price">
           € 350,742
          </span>
         </td>
        </tr>
        <tr>
         <td class="info">
          Property Location:
         </td>
         <td>
          Oak Park
         </td>
        </tr>
        <tr>
         <td class="info">
          Year Built:
         </td>
         <td>
          1991
         </td>
        </tr>
        <tr>
         <td class="info">
          Garden:
         </td>
         <td>
          No
         </td>
        </tr>
        <tr>
         <td class="info">
          Garage:
         </td>
         <td>
          No
         </td>
        </tr>
        <tr>
         <td class="info">
          Description:
         </td>
         <td>
          Type: Duplex; Style: 1.5-Storey; 2 Bedrooms; 1 Bathroom
         </td>
        </tr>
        <tr>
         <td class="info">
          First Time Buyer:
         </td>
         <td>
          No
         </td>
        </tr>
       </table>
      </li>
     </ol>
    </div>
    <nav>
     <a href="2024-page22.html">
      « Previous
     </a>
     <a href="2024-page01.html">
      01
     </a>
     <a href="2024-page02.html">
      02
     </a>
     <a href="2024-page03.html">
      03
     </a>
     <a href="2024-page04.html">
      04
     </a>
     <a href="2024-page05.html">
      05
     </a>
     <a href="2024-page06.html">
      06
     </a>
     <a href="2024-page07.html">
      07
     </a>
     <a href="2024-page08.html">
      08
     </a>
     <a href="2024-page09.html">
      09
     </a>
     <a href="2024-page10.html">
      10
     </a>
     <a href="2024-page11.html">
      11
     </a>
     <a href="2024-page12.html">
      12
     </a>
     <a href="2024-page13.html">
      13
     </a>
     <a href="2024-page14.html">
      14
     </a>
     <a href="2024-page15.html">
      15
     </a>
     <a href="2024-page16.html">
      16
     </a>
     <a href="2024-page17.html">
      17
     </a>
     <a href="2024-page18.html">
      18
     </a>
     <a href="2024-page19.html">
      19
     </a>
     <a href="2024-page20.html">
      20
     </a>
     <a href="2024-page21.html">
      21
     </a>
     <a href="2024-page22.html">
      22
     </a>
     <span>
      23
     </span>
    </nav>
   </div>
   <div class="footer">
    Content on this site is posted for teaching purposes only.
   </div>
  </div>
 </body>
</html>